* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf8e4;
    color: #07343b;
    line-height: 1.6;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fdf8e4;
    font-size: 18px;
    border-bottom: 2px solid #f1e4c0;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f58300;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #1d2b3b;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f58300;
}

main {
  padding: 30px 20px;
}

.active {
    color: #f58300;
    border-radius: 5px;
}
h2 {
  color: #f18720;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.label img{
    width: 250px;
    height: auto;
    margin-top: -50px;
    margin-bottom: -50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 20px;
}

.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 1100px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }

    .card {
        margin-bottom: 10px; 
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }

    .card {
        margin-bottom: 10px; 
    }
}

@media (max-width: 480px) {
    main {
        padding: 20px 10px; 
    }

    .grid-container {
        grid-template-columns: 1fr; 
        gap: 15px; 
    }

    .card img {
        width: 90%;
    }
}